@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center mb-4">
    <h1 class="mb-5 font-weight-light text-uppercase text-center">Welcome to WebStorage</h1>
</div>

@if (User.Identity.IsAuthenticated)
{
    <h3 class="text-center font-weight-light text-uppercase">@User.Identity.Name</h3>

    <form method="post" asp-controller="Account" asp-action="Logout">
        <div class="d-flex justify-content-center mt-5">
            <input type="submit" class="btn mt-5 rounded-pill btn-lg btn-custom btn-block text-uppercase" value="Exit" />
        </div>
    </form>
}
else
{
    <div class="d-flex justify-content-center mt-5">
        <button class="btn rounded-pill btn-lg btn-custom btn-block text-uppercase" id="btn-main-page"
                onclick="window.location='@Url.Action("Login", "Account")'">
            Login
        </button>
    </div>
    <div class="d-flex justify-content-center mt-5">
        <button class="btn rounded-pill btn-lg btn-custom btn-block text-uppercase" id="btn-main-page"
                onclick="window.location='@Url.Action("Register", "Account")'">
            Register
        </button>
    </div>
}

<div class="d-flex justify-content-center mt-5">
    <button class="btn rounded-pill btn-lg btn-custom btn-block text-uppercase" id="btn-main-page"
            onclick="window.location='@Url.Action("Upload", "File")'">
        Upload files
    </button>
</div>
<div class="d-flex justify-content-center mt-5">
    <button class="btn rounded-pill btn-lg btn-custom btn-block text-uppercase" id="btn-main-page"
            onclick="window.location='@Url.Action("Index", "Cabinet")'">
        Cabinet
    </button>
</div>
